
.properties.flexslider .advs-box-content{
	padding:0 !important;
}

.properties.flexslider .advs-box-content h3{
	font-size: 18px;
	font-weight:  700;
	margin:0;
}
.properties.flexslider .advs-box-content h4{
	font-size: 14px;
	font-weight: 400;
	color:rgb(135, 140, 146);
	margin:0;
}

.properties.flexslider .advs-box-content .row{
	margin:auto;
	width: 100%;
}

.properties.flexslider .advs-box-content .row div{
	text-align: center;
}
#testimonials .flexslider .slides img {
    height: auto;
    max-width: none;
    height: 100%;
    max-width: 100px !important;
    margin: auto !important;
    width: 100px !important;
} 

